:root {
    --ff-primary: 'Nunito', helvetica, arial, sans-serif;
    --clr-green-dark: #049a40;
    --clr-green-light: #0bf96a;
    --clr-pink-dark: #e10bf9;
    --clr-pink-light: #f3a0fd;
    --clr-white: #f5f5f5;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-white);
}

body * {
    font-family: var(--ff-primary);
    font-weight: 400;
}

.container {
    max-width: 960px;
    margin-inline: auto;
}

p {
    line-height: 21.82px;
    padding: 0 10px;
}

img {
    display: block;
    max-width: 100%;
}

.section__titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
}

.menu-bg {
    background-color: var(--clr-green-light);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    margin: 10px
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__link {
    padding: 20px 10px;
}

h1 {
    margin-inline: auto;
    padding: 25px 0;

    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    
}

hr {
    width: 140px;
    height: 2px;
    margin: 20px auto;

    border: none;
    background-color: var(--clr-pink-dark);
}


.somos-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.somos-c__texto {
    flex: 6 1 160px;
}

.somos-c__img {
    flex: 1 1 350px;
}

.somos-c__img img {
    margin: 0 auto;
}


.cursos-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.curso {
    flex-basis: 280px;
    margin: 0 20px;
}

.curso .curso__titulo {
    margin: 10px 0px 5px 0px;

    font-size: 1.5rem;
    text-align: center;
}

.planos {
    background-color: var(--clr-pink-light);
}

.planos-c {
    max-width: 960px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 800px) {
    .planos-c { 
        flex-direction: column-reverse;
        align-items: center;
    }
}

.plano {
    width: 290px;
    margin: 10px;

    border: 2px solid var(--clr-green-light);
}

.plano:last-child {
    background-color: var(--clr-green-light);
    border-color: var(--clr-pink-dark);
}

.plano__titulo {
    margin: 10px auto;

    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.plano__preco {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    display: block;
}

.plano__preco sup {
    font-size: 1.5rem;
    font-weight: bold;
}

.plano__divisor {
    width: 40px;
    margin: 5px auto;

    background-color: var(--clr-green-light);
}

.plano:last-child .plano__divisor {
    background-color: var(--clr-pink-dark);
}

.plano-lista {
    max-width: 195px;
    margin: 0 auto;
}

.plano-lista__item {
    margin: 10px 0;
   
    display: flex;
    align-items: center;
}

.plano-lista__item::before {
    content: "";

    width: 5px;
    height: 5px;
    margin-right: 5px;

    background-color: var(--clr-green-light);

    border-radius: 5px;

    display: block;
}

.plano:last-child .plano-lista__item::before {
    background-color: var(--clr-pink-dark);
}

.plano__btn-comprar {
    width: 180px;
    margin: 15px auto;
    padding: 10px;

    font-size: 32px;
    font-weight: bold;
    text-align: center;

    border: 2px solid var(--clr-green-light);

    display: block;
    
}

.plano:last-child .plano__btn-comprar {
    border: 2px solid var(--clr-pink-dark);
}

.vantagens-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vantagem {
    max-width: 240px;
    margin: 10px;
}

.vantagem__titulo {
    margin-left: 10px;
    margin-bottom: 5px;

    font-size: 1.7rem;
}

.vantagem__titulo::before {
    content: "";

    width: 10px;
    height: 25px;
    margin-right: 5px;

    display: inline-block;
    background-color: var(--clr-pink-dark);
}

.vantagem:nth-last-of-type(3n+1) .vantagem__titulo::before{
    background-color: var(--clr-green-dark);
}

.vantagem:nth-last-of-type(3n) .vantagem__titulo::before{
    background-color: var(--clr-green-light);
}

@media (max-width: 800px) {
    .vantagem {
        max-width: 220px;
    }
}

.newsletter {
    background-color: var(--clr-green-light);
}

.newsletter-c {
    padding: 50px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.news-cta {
    flex: 1 1 260px;
    padding-left: 10px;
}

.news-cta h2{
    font-size: 2.62rem;
    font-weight: bold;
}

.news-cta p {
    font-style: italic;
}

.newsletter-form {
    display: flex;
    flex-wrap: wrap;
    flex: 2 1 260px;
}

.newsletter-form input{
    width: 325px;
    margin: 0;
    padding: 10px 0;

    font-size: 1.25rem;

    border: 10px solid var(--clr-pink-dark);
    border-radius: 0;

    flex: 3 1 260px;
}

.newsletter-form button {
    width: 192px;
    padding: 15px;

    background-color: var(--clr-pink-dark);

    font-weight: bold;
    font-size: 2.25rem;
    text-transform: uppercase;

    border: 0;

    cursor: pointer;

    flex: 1 1 260px;   
}

footer {
    padding: 55px calc((100% - 960px)/2);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}