:root {
    --ff-primary: 'Nunito', helvetica, arial, sans-serif;
    --clr-green-dark: #049a40;
    --clr-green-light: #0bf96a;
    --clr-pink-dark: #e10bf9;
    --clr-pink-light: #f3a0fd;
    --clr-white: white;
}


body {
    background-color: var(--clr-white);
}

body * {
    font-family: var(--ff-primary);
    font-weight: 400;
}

.container {
    max-width: 960px;
    margin-inline: auto;
}

p {
    line-height: 21.82px;
    padding: 0 10px;
}

img {
    display: block;
    max-width: 100%;
}

.section__titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
}

.menu-bg {
    background-color: var(--clr-green-light);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    margin: 10px
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__link {
    padding: 20px 10px;
}

h1 {
    margin-inline: auto;
    padding: 25px 0;

    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    
}

hr {
    width: 140px;
    height: 2px;
    margin: 20px auto;

    border: none;
    background-color: var(--clr-pink-dark);
}


.somos-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.somos-c__texto {
    flex: 6 1 160px;
}

.somos-c__img {
    flex: 1 1 350px;
}


.cursos-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.curso {
    flex-basis: 280px;
    margin: 0 20px;
}

.curso .curso__titulo {
    margin: 10px 0px 5px 0px;

    font-size: 1.5rem;
    text-align: center;
}

.planos {
    background-color: var(--clr-pink-light);
}

.planos-c {
    max-width: 960px;
    margin: auto;

    border: 2px solid;

    display: flex;
    justify-content: center;
}

.plano {
    max-width: 290px;
    margin: 10px;

    border: 2px solid var(--clr-green-light);
}

.plano__titulo {
    margin: 10px auto;

    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.plano__preco {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    display: block;
}

.plano__preco sup {
    font-size: 1.5rem;
    font-weight: bold;

    position: relative;
    top: -20px;
}

.plano__divisor {
    width: 40px;
    margin: 5px auto;

    background-color: var(--clr-green-light);
}



